<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>内联元素示例</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    .maincontent {
         padding:50px 20px;
         text-align:center;
     }
    .content{
        margin:0 auto;
        width:600px;
        height:200px;
        padding: 10px 20px;
        text-align:center;
    }
</style>
<body>
	 <div class="container">
     <div class="maincontent">
         <h1>浙大硕士毕业论文研究吸猫:"云吸猫"是精神"鸦片"</h1>
         <div class="content">
              <a href="http:www.baidu.com" style="display:block">这是内联元素a标签加上了style="display:block"以后呈现的效果，开始独占一行了！！</a>
              <span>这是span标签</span>
         </div>
      </div>
</div>
</body>
</html>