   <!DOCTYPE html>
   <html lang="zh-cn">
  <head>
       <meta charset="UTF-8" />
      <title>bootstrap的表格</title>
       <link rel="stylesheet" href="css/bootstrap.css">
      <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
       <style>
  	.div1{
  		width:560px;
   		height:120px;
   		margin:10px 20px;
   		padding:10px 20px;
  		background-color:#C39;
  		border:#930;
  	}
   	</style>
   </head>
   <body>
   <div class="container" sytle="width:520px">
    <h2>bootstrap的按钮</h2>
   <div class="div2">
   <input type="button"  value="常用按钮" class="btn" ></br>
  <input type="button"  value="小按钮" class="btn btn-small" ></br>
   <input type="button"  value="常规按钮" class="btn btn-large" ></br>
   <input type="button"  value="primary" class="btn btn-primary" ></br>
   <input type="button"  value="info" class="btn btn-info" ></br>
   <input type="button"  value="success" class="btn btn-success" ></br>
  <input type="button"  value="warning" class="btn btn-warning" ></br>
   <input type="button"  value="danger" class="btn btn-danger" ></br>
   <input type="button"  value="inverse" class="btn btn-inverse" ></br>
                    <input type="button" id="login" value="登录" class="btn btn-success">
               <input type="button" id="logout" value="取消" class="btn btn-danger">
             </div>
        </div>
   </body>
   </html>
