<!DOCTYPE html>
<!--<html>
    <head>
        <meta charet="UTF-8">
        <title>{{title}}blog</title>
    </head>
    <body>
        <h1>hello,good time,{{user.username}}!</h1>
        {% for post in posts %}
        <div><p>{{post.author.username}}说<b>{{post.body}}</b></p></div>
        {% endfor %}
    </body>
</html>-->
{% extends 'base.html' %}

{%block content %}
<h1>hellom,{{user.username}}!</h1>

    {% for post in posts %}
        <div><p>{{post.author.username}}said:<b>{{post.body}}</b></p></div>
    {% endfor %}
{% endblock %}