{% extends 'front/base.html' %}


{% block title %}   首页{% endblock %}
{% block header %}{% endblock %}
{% block body %}

<!--当前位置开始-->
<div class="location">
<ul>
    <li>    网站首页> > 新闻资讯 > <a href="#">文章详情</a> </li>
</ul>



</div>
<!--当前位置结束-->

<!--主体内容开始-->
<div class="content">
   <div class="container">

       <div class="row">
           <div class="col-md-9">
              <div class="container-fluid">
                 
                  <div class="row info-content">
                    
                              <div class="col-md-12">
                                  <div class="page-header article_title"><h1> 中方回应推动盟友对被拘押加公民表达关切 中方回应</h1></div>
								  <div class="article_info">
								  <span><a href="http://localhost/cms">iCMS</a> http://localhost/cms</span>
                        <span class="pubdate">2018-12-24 21:14</span>
                        <span class="source">出处：www.byxdz.com </span>
                        <span class="author">作者：admin</span>
                                                <span class="editor">编辑：<a href="http://localhost/cms/public/api.php?app=user&amp;do=home&amp;uid=1" class="iCMS_user_link" target="_blank" i="ucard:1" title="">@iCMS</a></span>
                        <span id="cmt_count" class="cmt_count"></span>
								  </div>
								<div class="article-desc">
  <p><b>摘要：</b></p><p>交给你全栈开发的一招一式，我们不会装作什么都懂，也不会教你花架子，只是能保证你学完后，拥有自己的一套内功心法，能举一反三，轻松写代码..</p>
</div>
                                  <article class="article_body">
<p>
中国新闻网报道 （肖光明 张帆）日前，一则视频短片《啥是佩奇》火爆网络，一只“硬核鼓风机佩奇”戳中诸多网友泪点。对此，中新网记者专访了该片的主演李玉宝大爷，听大爷讲述这个短片背后的故事。

《啥是佩奇》由导演张大鹏执导，讲述的是一位农村留守老人为了给在城市里生活的宝贝孙子准备新年礼物，老人问遍全村，只为一个答案——啥是佩奇？</p></br>
<p>
李玉宝大爷今年57岁，是河北省张家口市怀来县小南辛堡镇大古城村人，平时在该县天漠影视基地打工。他在基地从事管理工作，从未参与过影视摄制。

怀来县毗邻北京市，所以李玉宝大爷说话一口北京味儿。他告诉中新网记者，自己能够参演是导演看中了他的形象。他笑谈，自己原来确实不知道“啥是佩奇”，直到拍摄结束后，还不十分清楚“啥是佩奇”，最后还是孙子告诉他是动画片里的。</p>
<p>
李玉宝大爷说，《啥是佩奇》是2018年12月二十多号开始拍摄的，拍摄地点在怀来县小南辛堡镇外井沟村，一共拍摄了两天，参加演出的大部分都是当地人。他从没想过这个短片会火，这两天不仅是亲朋好友还有很多媒体都来找他，一不小心成了“名人”，他感谢观众们对自己表演的欣赏。

图为李玉宝大爷和孙子孙女合影。　受访者供图图为李玉宝大爷和孙子孙女合影。　受访者供图</p></br>











                                  </article>
		   <div class="tags-link">
		  <b>  <span class="glyphicon glyphicon-asterisk"></span>相关专题：</b>
		   </div>
<div class="prev-next">
                      <div class="row">
                          <div class="col-md-6"><p class="prev"><b>上一篇:</b>没有了</p></div>
                          <div class="col-md-6"><p class="next"><b>下一篇:</b>没有了</p></div>
                      </div>
                  </div>
<h5 class="page-header"><b>添加评论</b></h5>
                                  <div class="comment_list">
								   <div class="row">
								   <div class="container-fluid">
								   <div class="col-md-1"> <img style="width:40px;height:40px;max-height: 40px;max-width: 40px; min-width:40px ;overflow:hidden; "src="{{ url_for('static',filename='images/21.jpg') }}"  alt=""></div>
								   <div class="col-md-11">
								    <div class="container-fluid ">
								   <div class="row  comment_details"><b>网友：youqq</b><span>2018-12-24 21:19</span></div>
								   <div class="row  comment_details">评论内容</div>
								    <!--回复的评论开始-->
								    <div class="comment_reply">
									<div class="row">
									<div class="container-fluid">
								   <div class="col-md-1"> <img style="width:40px;height:40px;max-height: 40px;max-width: 40px; min-width:40px ;overflow:hidden; "src="{{ url_for('static',filename='images/21.jpg') }}"  alt=""></div>
								   <div class="col-md-11">
								    <div class="container-fluid ">
								   <div class="row  comment_details"><b>网友：张三</b><span>2018-12-24 21:19</span></div>
								   <div class="row  comment_details">回复内容</div>
									</div>
									</div>
									</div>
									</div>
									</div>
								    <!--回复的评论结束-->
								  
								   								   </div>
								   </div>
								   </div>
								   </div>
								   
								  
                                      
                                  </div>
								  <h5 class="page-header"></h5>
								  <!--分页代码开始-->
    <div class="page">
        <ul class="pagination">
         <li class="disabled"><span>&laquo;上一页</span></li>
  <li><a href="#">下一页&raquo;</a></li>
    </ul>
    </div>
<!--分页代码结束-->
 <h5 class="page-header"></h5>

 <div class="alert-warning"><div class="warning"><span>请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论！</span></div></div>
<!--评论表单开始-->
<div class="comment-form">
   <textarea i="comment_content" class="form-control comment_content" placeholder="写下你的评论…"></textarea>
 </div>
<!--评论表单结束-->             
<div class="comment-command" style="display:block;">
 <div class="row">
 <div class="col-md-8">
   <div class="comment-seccode">
            <label for="seccode" class="control-label">验证码：</label>
            <input type="text" maxlength="4" i="comment_seccode" class="seccode_form_control input-small" placeholder="请输入验证码">
			</div>
 </div>
  <div class="col-md-4"> <button i="comment_add" class="btn btn-primary comment_add"><i class="fa fa-check"></i> 评 论
        </button>  <button i="comment_cancel" class="btn btn-primary comment_add"><i class="fa fa-check"></i> 取消
        </button></div>
 </div>

  </div>                    
                
    <h5 class="page-header"></h5>
	</div>

                  </div>




              </div>
           </div>
           <div class="col-md-3 content-right">
               <div class="title">
                   <h2>热门资讯</h2>
               </div>


                <div class="container-fluid">
                   <div class="row">
                       <div class="col-md-5" style="margin:12px 0;padding:0;">
                         <img src="{{ url_for('static',filename='images/111.jpg') }}" class="img-responsive" alt="">
                      </div>
                              <div class="col-md-7">
                                  <h4>测试测地方分分分分</h4>
                              <p>admin</p>
                              </div>
                   </div>


				   <div class="row">
                       <div class="col-md-5" style="margin:12px 0;padding:0;">
                         <img src="{{ url_for('static',filename='images/111.jpg') }}" class="img-responsive" alt="">
                      </div>
                              <div class="col-md-7">
                                  <h4>测试测地方分分分分</h4>
                              <p>admin</p>
                              </div>

                   </div>




				   <div class="row">
                       <div class="col-md-5" style="margin:12px 0;padding:0;">
                         <img src="{{ url_for('static',filename='images/111.jpg') }}" class="img-responsive" alt="">
                      </div>
                              <div class="col-md-7">
                                  <h4>测试测地方分分分分</h4>
                              <p>admin</p>
                              </div>

                   </div>
               </div>
           </div>
       </div>
   </div>
  
</div>


<!--主体内容结束-->


{% endblock %}

{% block footer %}
{% endblock %}